<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>3D timeline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container-fluid my-2">
      <div>
        <div class="d-flex justify-content-center">
          <h5>Редактирование трека "Назание трека"</h5>                
        </div>
          
        <div>          
          <div class="modal-body">               

            <select class="form-control" name="institute" size="1" onclick="trackSignature()">
              <option selected="" disabled="">Выберите институт</option>
              <option value="Институт клинической медицины">Институт клинической медицины</option>
              <option value="Институт профилактической медицины">Институт профилактической медицины</option>
              <option value="НИИ кардиологии">НИИ кардиологии</option>
              <option value="Институт эксперементальной медицины">Институт эксперементальной медицины</option>
            </select>

            <div class="my-4">
              <p><i class="fas fa-angle-double-right text-primary mr-10"></i><b>Руководитель образовательного трека</b></p>
              <div>
                <div class="form-check mb-10">
                  <input class="form-check-input" type="checkbox" name="is-emsloyee" onclick="authorSamGMU()">
                  <label class="form-check-label">Автор является сотрудником СамГМУ</label>
                </div>
                <div class="hidden" id="authorSamGMU">
                  <select class="form-control mb-20" name="author">
                    <option>Выберите автора</option>
                    <option value="Иванов">Иванов</option>
                    <option value="Петров">Петров</option>
                    <option value="Сидоров">Сидоров</option>
                    <option value="Толстой">Толстой</option>
                  </select>
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Добавить руководителя трека</button>  
                </div>
                <div id="authorWorld">
                  <textarea class="form-control mb-10" name="module-name" cols="80" rows="1" placeholder="Введите ФИО автора"></textarea>
                  <div class="d-flex mb-10">
                    <select class="form-control w-50 mr-10" name="regalia" size="1">
                      <option selected="" disabled="">Выберите регалии</option>
                      <option value="Профессор">Профессор</option>
                      <option value="К.М.Н.">К.М.Н.</option>
                      <option value="Доцент">Доцент</option>
                      <option value="Зав. кафедрой">Зав. кафедрой</option>
                    </select>
                    <button type="button" class="btn btn-primary">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div class="accordion mb-10" id="accordionDocsPerson">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <b>Добавление документов автора</b>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionDocsPerson">
                        <div class="accordion-body"> 
                          <div class="mb-10">                             
                            <b>Загрузите паспорт</b><br>
                            <div class="d-flex">
                              <input class="form-control mr-10" type="file" id="pasport" name="pasport">
                              <button type="button" class="btn btn-primary ml-10"><i class="fas fa-file-upload"></i></button>
                            </div>
                          </div>
                          <div class="mb-10"> 
                            <b>Загрузите диплом о в/о"</b><br>
                            <div class="d-flex">
                              <input class="form-control mr-10" type="file" id="diploma1" name="diploma1">
                              <button type="button" class="btn btn-primary ml-10"><i class="fas fa-file-upload"></i></button>
                            </div>
                          </div>
                          <div class="mb-10"> 
                            <b>Загрузите диплом о научном звании</b><br>
                            <div class="d-flex">
                              <input class="form-control mr-10" type="file" id="diploma2" name="diploma2">
                              <button type="button" class="btn btn-primary ml-10"><i class="fas fa-file-upload"></i></button>
                            </div>
                          </div>
                          <div class="mb-10"> 
                            <b>Загрузите диплом о научной степени</b><br>
                            <div class="d-flex">
                              <input class="form-control mr-10" type="file" id="diploma3" name="diploma3">
                              <button type="button" class="btn btn-primary ml-10"><i class="fas fa-file-upload"></i></button>
                            </div>
                          </div>
                          <div class="mb-10"> 
                            <b>Загрузите справку об отсутствии судимости</b><br>
                            <div class="d-flex">
                              <input class="form-control mr-10" type="file" id="criminal" name="criminal">
                              <button type="button" class="btn btn-primary ml-10"><i class="fas fa-file-upload"></i></button>
                            </div>
                          </div>
                          <div class="mb-10"> 
                            <b>Загрузите справку о состоянии здоровья</b><br>
                            <div class="d-flex">
                              <input class="form-control mr-10" type="file" id="health" name="health">
                              <button type="button" class="btn btn-primary ml-10"><i class="fas fa-file-upload"></i></button>
                            </div>
                          </div>
                          <div class="mb-20">      
                            <b>Загрузите последнюю страницу трудовой книжки</b><br>
                            <div class="d-flex">
                              <input class="form-control mr-10" type="file" id="workbook" name="workbook">
                              <button type="button" class="btn btn-primary ml-10"><i class="fas fa-file-upload"></i></button>
                            </div>
                          </div>
                          <button type="button" class="btn btn-outline-primary">Добавить руководителя трека</button>
                        </div>
                      </div>
                    </div>   
                  </div>                      
                </div>
              </div>
            </div>

            <div class="my-4">
              <i class="fas fa-angle-double-right text-primary mr-10"></i><b>Название образовательного трека</b><br>
              <textarea class="form-control" name="track-name" cols="80" rows="1" placeholder="Введите название образовательного трека"></textarea>
            </div>

            <div class="my-4">
              <i class="fas fa-angle-double-right text-primary mr-10"></i><b>Аннотация образовательного трека</b><br>
              <textarea class="form-control" id="track-annotation" cols="80" rows="5" placeholder="Заполните аннотацию, выделите #ключевые слова#" onclick="trackCheck()"></textarea>
            </div>
            <div class="my-4">
              <i class="fas fa-angle-double-right text-primary mr-10"></i><b>Дополнительные ключевые слова</b> <br>
              <textarea class="form-control" name="module-annotation" cols="80" rows="2" placeholder="Заполните список с ключевыми словами, не включенных в аннотацию, разделив их ;"></textarea>
            </div>                  
          </div>
          <div class="modal-footer">                
            <button type="button" class="btn btn-primary" onclick="location.href='track_up.html';">Сохранить</button>
          </div>
        </div> 
        
      </div>
    </div>
  </body>
</html>