<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Track list</div>
    <form method="post">
        <input type="text" name="trackName" placeholder="Track name" />
        <input type="text" name="annotation" placeholder="Track annotation" />
<!--           <input type="text" name="author" placeholder="author" />-->
        <button type="submit">add</button>
    </form>


     {{#tracks}}
         <div>
             <b>{{id}}</b>
             <span>{{trackName}}</span>

         </div>
     {{/tracks}}
</body>
</html>